[submodule "vim-fugitive"]
	path = vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim-rails"]
	path = vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim-haml"]
	path = vim-haml
	url = git://github.com/tpope/vim-haml.git
[submodule "vim-unimpaired"]
	path = vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "vim-cucumber"]
	path = vim-cucumber
	url = git://github.com/tpope/vim-cucumber.git
[submodule "vim-surround"]
	path = vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim-abolish"]
	path = vim-abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "vim-endwise"]
	path = vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "nerdtree"]
	path = nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "supertab"]
	path = supertab
	url = git://github.com/ervandew/supertab.git
[submodule "nerdcommenter"]
	path = nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter
[submodule "vim-matchit"]
	path = vim-matchit
	url = git://github.com/edsono/vim-matchit
[submodule "lusty"]
	path = lusty
	url = git://github.com/sjbach/lusty
[submodule "outline.vim"]
	path = outline.vim
	url = git://github.com/Takazudo/outline.vim
[submodule "vim-rspec"]
	path = vim-rspec
	url = https://github.com/skwp/vim-rspec
[submodule "taskpaper.vim"]
	path = taskpaper.vim
	url = git://github.com/davidoc/taskpaper.vim
[submodule "Zenburn"]
	path = Zenburn
	url = git://github.com/vim-scripts/Zenburn
[submodule "wikipedia.vim"]
	path = wikipedia.vim
	url = git://github.com/vim-scripts/wikipedia.vim
[submodule "jsbeautify"]
	path = jsbeautify
	url = git://github.com/vim-scripts/jsbeautify
[submodule "simple-javascript-indenter"]
	path = simple-javascript-indenter
	url = git://github.com/jiangmiao/simple-javascript-indenter
[submodule "molly.vim"]
	path = molly.vim
	url = git://github.com/jonuts/molly.vim
[submodule "vim-ruby-sinatra"]
	path = vim-ruby-sinatra
	url = git://github.com/hallison/vim-ruby-sinatra
[submodule "Decho"]
	path = Decho
	url = git://github.com/vim-scripts/Decho
[submodule "gitv"]
	path = gitv
	url = git://github.com/gregsexton/gitv
[submodule "vim-git"]
	path = vim-git
	url = git://github.com/tpope/vim-git
[submodule "TaskList.vim"]
	path = TaskList.vim
	url = git://github.com/vim-scripts/TaskList.vim
[submodule "ack.vim"]
	path = ack.vim
	url = git://github.com/mileszs/ack.vim
[submodule "gundo.vim"]
	path = gundo.vim
	url = git://github.com/sjl/gundo.vim
[submodule "delimitMate"]
	path = delimitMate
	url = git://github.com/Raimondi/delimitMate
[submodule "vim-colors-solarized"]
	path = vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vim-slim"]
	path = vim-slim
	url = git://github.com/bbommarito/vim-slim
[submodule "ruby-matchit"]
	path = ruby-matchit
	url = https://github.com/vim-scripts/ruby-matchit.git
[submodule "tagbar"]
	path = tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vim-bundler"]
	path = vim-bundler
	url = https://github.com/tpope/vim-bundler
[submodule "vim-pathogen"]
	path = vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "rainbow_parentheses.vim"]
	path = rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim
[submodule "tabman.vim"]
	path = tabman.vim
	url = https://github.com/kien/tabman.vim
[submodule "ctrlp.vim"]
	path = ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "molokai"]
	path = molokai
	url = https://github.com/tomasr/molokai
[submodule "vim-statline"]
	path = vim-statline
	url = https://github.com/millermedeiros/vim-statline
[submodule "syntastic"]
	path = syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "Conque-Shell"]
	path = Conque-Shell
	url = https://github.com/lrvick/Conque-Shell
[submodule "PHP-Indenting-for-VIm"]
	path = PHP-Indenting-for-VIm
	url = https://github.com/2072/PHP-Indenting-for-VIm
[submodule "vim-coffee-script"]
	path = vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "vim-snipmate"]
	path = vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "tlib_vim"]
	path = tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim-addon-mw-utils"]
	path = vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils
[submodule "snipmate-snippets"]
	path = snipmate-snippets
	url = https://github.com/honza/snipmate-snippets
[submodule "vim-ruby-conque"]
	path = vim-ruby-conque
	url = https://github.com/skwp/vim-ruby-conque
[submodule "vim-jade"]
	path = vim-jade
	url = https://github.com/digitaltoad/vim-jade
[submodule "vim-powerline"]
	path = vim-powerline
	url = https://github.com/Lokaltog/vim-powerline
[submodule "bufexplorer.zip"]
	path = bufexplorer.zip
	url = https://github.com/vim-scripts/bufexplorer.zip
[submodule "numbers.vim"]
	path = numbers.vim
	url = https://github.com/myusuf3/numbers.vim/
[submodule "golden-ratio"]
	path = golden-ratio
	url = https://github.com/roman/golden-ratio
[submodule "vim-markdown"]
	path = vim-markdown
	url = https://github.com/plasticboy/vim-markdown
